  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row">

              <!-- <div class="col-lg-3 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Acceuil</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">A propos de nous</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                </ul>
              </div> -->

              <div class="col-lg-4 col-md-6 footer-links">
                <h4>Nos Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> UI/UX</li>
                  <li><i class="bx bx-chevron-right"></i> B.I</li>
                  <li><i class="bx bx-chevron-right"></i> Data Science & Deeplearning</li>
                  <li><i class="bx bx-chevron-right"></i> Réconversion Professionnelle</li>
                  <li><i class="bx bx-chevron-right"></i> Fullstack Web</li>
                </ul>
              </div>

              <div class="col-lg-4 col-md-6 footer-info">
                <h4>Contactez Nous</h4>
                <p>
                  St. la bourse,Batiment <br>
                  El Wafa, Bloc A 2éme étage,<br>
                  Lac 2, Tunis, Tunisie <br><br>
                  <strong>Tél:</strong> +216 71 190 418<br>
                  <strong>E-mail:</strong> contact@FivePoints.fr<br>
                </p>

              </div>

              <div class="col-lg-4 col-md-6 footer-info">
                <h3><img _ngcontent-serverapp-c42="" src="assets/images/logo.png"></h3>
                <p>Si vous voulez en savoir plus à propos de nous et voir comment les chose fonctionnent dans 5P, vous pouvez nous consulter sur nos sites de réseaux sociaux.</p>
                <div class="social-links mt-3">
                  <a href="https://www.linkedin.com/company/fivepoints-the-talent-pool/" class="linkedin" style="background-color: #7d9ce0;"><i class="bx bxl-linkedin"></i></a>
                  <a href="https://www.facebook.com/FivePoints5P/" class="facebook" style="background-color: #3b5999;"><i class="bx bxl-facebook"></i></a>
                  <a href="https://www.instagram.com/fivepoints.tn/" class="instagram" style="background-color: #ea4c89;"><i class="bx bxl-instagram"></i></a>         

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>FivePoints</span></strong>. All Rights Reserved 2020
      </div>
      <div class="credits">
        
        Made with love
      </div>
    </div>
  </footer><!-- End Footer -->
