
<form [formGroup]="replyForm">
  <div  classe="form-group">
    <mat-form-field appearance="legacy">
      <input matInput placeholder="name" formControlName="name">
    </mat-form-field>
  </div>
  <div classe="form-group">
    <mat-form-field appearance="legacy">
      <input matInput placeholder="date" formControlName="date">
    </mat-form-field>
  </div>
  <div classe="form-group">
    <mat-form-field appearance="legacy">
      <input matInput placeholder="contenue" formControlName="contenue">
    </mat-form-field>
  </div>
  <div classe="form-group">
    <mat-form-field>
      <input matInput formControlName="email" placeholder="email">
      <mat-error ></mat-error>
    </mat-form-field>
    <p class="text-muted">Your email address will not be published* </p>
      <button type="button" class="btn btn-primary" (click)="addReplies()">Reply</button>
  </div>
</form>
