
<form [formGroup]="replyForm">
  <div  classe="form-group">
    <mat-form-field appearance="legacy">
      <input matInput placeholder="name" formControlName="name">
      <mat-error *ngIf="replyForm.hasError('required','name')">email is required</mat-error>
    </mat-form-field>
  </div>
  <!-- <div classe="form-group">
    <mat-form-field appearance="legacy">
      <input matInput placeholder="date" formControlName="date">
      <mat-error *ngIf="replyForm.hasError('required','email')">email is required</mat-error>
    </mat-form-field>
  </div> -->
  <div classe="form-group">
    <mat-form-field appearance="legacy">
      <input matInput placeholder="contenue" formControlName="contenue">
      <mat-error *ngIf="replyForm.hasError('required','contenue')">email is required</mat-error>
    </mat-form-field>
  </div>
  <div classe="form-group">
    <mat-form-field>
      <input matInput formControlName="email" placeholder="email">
      <mat-error *ngIf="replyForm.hasError('required','email')">email is required</mat-error>
      <mat-error ></mat-error>
    </mat-form-field>
    <p class="text-muted">Your email address will not be published* </p>
      <button [disabled] = "!replyForm.valid" type="button" class="btn btn-primary" (click)="addReplies()">Reply</button>
  </div>
</form>
