<app-header></app-header>
<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
  <div class="wrapper wrapper--w680">
    <div class="card card-1">
      <div class="card-heading"></div>
      <div  class="card-body">
        <h2 class="title">Inscription </h2>
        <form   [formGroup]="registrationForm">
            
          <div   class="row row-space">
            <div class="form-group">
              <mat-form-field>
                <input matInput type="text" formControlName="lastname" placeholder="nom" />
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <input matInput type="text" formControlName="firstname" placeholder="prénom" />
              </mat-form-field>
            </div>
          </div>
          <div class="row row-space">
            <div class="form-group">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Ex. pat@example.com" formControlName="email" />
              </mat-form-field>
            </div>
            <div class="form-group">

              <mat-form-field>
                <mat-label>Numéro tel</mat-label>
                <input matInput placeholder="+216 xx xxx xxx" formControlName="numTel" />
              </mat-form-field>
            </div>
          </div><br>
          <div class="row row-space">
            <div class="form-group">
              <p  >voulez vous suivez nos cours : </p>
              <label><input type="radio"  formControlName="online" value="true"> en ligne</label>
              <label style="margin-left: 10px;"><input  type="radio" formControlName="online" value="false">présentiel</label> 
              <br>
            </div>
            <div class="form-group" style="margin-right: 35px;">
              <p > etes-vous diplomé ?</p>
              <label><input type="radio" formControlName="diplome" value="true"> oui</label>
              <label style="margin-left: 10px;"><input type="radio" formControlName="diplome" value="false"> non </label>
              <br>
            </div>
          </div><br>
          <div class="row">
            <div class="form-group">
                <p>rester à jour ?</p>
                <label><input type="radio" formControlName="resterInforme" value="true"> oui </label>
                <label style="margin-left : 10px;"><input type="radio" formControlName="resterInforme" value="false"> non </label>
              </div>
          </div>
       
          <div  class="p-t-20">
            <br>
            <button [disabled] = "!registrationForm.valid" type="submit" class="btn btn-primary" (click)="register(train)">inscription</button>
          </div>


        </form>


      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
