<form [formGroup]="voteForm">
  <div class="row row-space">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Ex. pat@example.com" formControlName="email" />
        <mat-error *ngIf="voteForm.hasError('required','email')">* votre email est requis</mat-error>
        <mat-error *ngIf="voteForm.hasError('email','email')">*votre email est invalide</mat-error>
      </mat-form-field>
    </div>
  </div><br>
  <button [disabled]="!voteForm.valid" type="button" class="btn btn-primary" (click)="register('like') ">J'aime</button> 
  <!-- <button  type="button" class="btn btn-primary" (click)="onClickMe('like') ">vote</button>  -->

</form>

