<app-header></app-header>
<div class="container col-lg-12 " style="margin-top: 8rem;">
  <div class="section-title">
    <h1>Nos Programmes</h1>
  </div>
  <div class="row row-space">
    <div class="col-lg-1 col-md-1"></div>
    <div class=" col-lg-4 col-sm-6 col-md-4">
      <div>
        <h2 class="text-align"><strong>Training Session</strong></h2><br>
        <h3 class="text-align"><strong>Full Stack Web</strong></h3><br>
        <h3 class="text-align"><strong>Dans la peau d&#8217;un développeur Web</strong></h3><br>
        <h3 class="text-align"><strong>10 % de théorie et 90% de pratique</strong></h3>
        <p>&nbsp;</p>
        <p>Une journée type, c’est 10% de théorie et 90% de pratique. Elle commence par
          l’explication de nouveaux éléments de syntaxe d’un langage, d’une bonne pratique ou d’une technologie
          particulière. Puis les candidats réalisent un exercice immédiatement en rapport afin d’obtenir par euxmêmes un
          résultat concret, tangible et motivant. L’apprentissage se poursuit avec des projets plus importants durant
          plusieurs jours et intégrant de plus en plus d’enseignements déjà vus, mélangés à des nouveaux. En se servant
          de plusieurs technologies simultanément, les candidats découvrent alors véritablement le fonctionnement du web
          et des sites et applications qu’ils utilisent au quotidien.</p>
      </div>
      <div>
        <h3><strong>Programme</strong></h3>
        <br>
        <p><strong>Diplômé en informatique</strong><br />
          <strong>Niveau 1: 100H:</strong> Algorithme,HTML5 et CSS3.<br />
          <strong>Niveau 2: 100H:</strong> Bootstrap et Javascript.<br />
          <strong>Niveau 3: 100H:</strong> (Angular 8 / ReactJs), NodeJs et Java.<br />
          <strong>Niveau 4: 100H:</strong> Spring, NestJs et Projet (Front End et Back End).<br />
          <strong>Niveau 5: 100H:</strong> DevOps et Déploiement.</p>
        <p><strong>Non diplômé en informatique</strong><br />
          <strong>Niveau 1: 100H:</strong> Algorithmique.<br />
          <strong>Niveau 2: 100H:</strong> Javascript et Git.<br />
          <strong>Niveau 3: 100H:</strong> HTML, Css et Bootstrap.<br />
          <strong>Niveau 4: 100H:</strong> Angular 8 ou ReactJs.<br />
          <strong>Niveau 5: 100H:</strong> Java, NodeJs, Spring, NestJs.<br />
          <strong>Niveau 6: 100H:</strong> Projet (Front End et Back End).<br />
          <strong>Workshop SoftSkills:</strong> Gestion de carrière, communication et attitude Professionnelle, aptitude
          au travail d&#8217;équipe, méthode Agile, préparation de CV et d&#8217;entretiens.</p>
        <p><span style="font-size: x-large;"><strong>✔</strong></span> En fin du programme, tous les candidats auront la
          possibilité de passer gratuitement le FPL (FivePoints Label) et intégrer le process de recrutement en cas de
          succès.</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-md-4  ">
      <img src="../../../../assets/images/program.png">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
  </div>
  <br>
  <hr>
  <div class="row row-space  paragraphe  ">
    <div class="col-1"></div>
    <div class="col-4">
      <div>
        <h2 class="text-align"><strong>Training Session</strong></h2><br>
        <h3 class="text-align"><strong>Angular/ReactJS</strong></h3><br>
        <h3 class="text-align"><strong>Dans la peau d&#8217;un développeur frontend (1/2)</strong></h3><br>
      </div>
      <div>
        <h3 class="text-align"><strong>Programme</strong></h3>
        <ul>
          <p> <span style="font-size: 14px;"><strong>HTML (30 Hrs)</strong></span></p>
          <li>Introduction au Web.</li>
          <li>L’architecture Client/Server.</li>
          <li>Installation des environnements.</li>
          <li>Apprendre ce qu&#8217;est le HTML et comment faire une page Web avec du texte,
            des listes, des images et des balises.</li>
          <li>Mise en forme du texte.</li>
          <li>Découvrir et utiliser les éléments du HTML5 (table, multimédia, tags&#8230;).
          </li>
          <li>Créer et gérer des formulaires de saisie.</li>
          <li>Afficher les données d’un formulaire dans un tableau.</li>
        </ul>
        <ul>
          <p><strong>CSS (20 Hrs)</strong></p>
          <li>Introduction au CSS.</li>
          <li>Créer des styles de base.</li>
          <li>Les Sélecteurs et les Règles : Classes, id, tags et unités (px, %, em ..).</li>
          <li>Les techniques du responsive web design.</li>
          <li>Découvrir les outils de développement chrome (chrome developer tools) : Chercher des styles.<br />
            <span style="font-size: x-large;"><strong>✔</strong></span>Projet: Créer une page E-commerce html5 avec les
            styles.</li>
        </ul>
        <ul>
          <p><strong>JavaScript (60 Hrs)</strong></p>
          <li>Introduction au JavaScript.</li>
          <li>Créer une page dynamique : Intégration JS.</li>
          <li>La syntaxe d’EcmaScript (ES6 js).</li>
          <li>JS + HTML5 DOM: « Events driven programming ».<br />
            <span style="font-size: x-large;"><strong>✔</strong></span>Projet: Formulaire d’inscription, calculatrice.
          </li>
        </ul>
        <ul>
          <p><strong>Bootstrap (40 Hrs)</strong></p>
          <li>Introduction au Bootstrap.</li>
          <li>Setup, Templates et Navbar : Créer un projet en utilisant Navbar.</li>
          <li>Typography, Forms et Tables : Créer un projet en utilisant les formes et les tableaux.</li>
          <li>Modal, Dropdown, Tabs &amp; Tooltip : Créer un projet en utilisant les plugins JavaScript.<br />
            <span style="font-size: x-large;"><strong>✔</strong></span>Projet: Créer une application « Weather » et une
            application « News ».</li>
        </ul>

      </div>
    </div>
    <!-- <div class="col-2"></div> -->
    <div class=" col-4">
      <img src="../../../../assets/images/front (1).png">
    </div>
    <div class="col-3"></div>

  </div>
  <div class="row row-space paragraphe  ">
    <div class="col-1"></div>

    <div class="col-4">
      <div>
        <h2 class="text-align"><strong>Training Session</strong></h2><br>
        <h3 class="text-align"><strong>Angular/ReactJS</strong></h3><br>
        <h3 class="text-align"><strong>Dans la peau d&#8217;un développeur frontend (2/2)</strong></h3><br>
      </div>
      <div>
        <h3 class="text-align"><strong>Programme</strong></h3>
        <ul><br>
          <p><strong>Angular (60 Hrs)</strong></p><br>
          <li>Présentation du framework Angular: Compatibilité, versions, documentation, la structure du projet et les
            différents fichiers qui le composent.</li>
          <li>Installation et configuration des environnements.</li>
          <li>Le langage de programmation Typescript: Ts vs. Js.</li>
          <li>Angular-cli: Création et manipulation d’un projet.</li>
          <li>Angular Components: Découvrir la structure, les expressions, data-Binding bidirectionnel (twoway),
            unidirectionnelle (one-way) et les filtres.</li>
          <li>Découvrir les directives structurelles: NgFor, NgIf, Ng-templates.</li>
          <li>Comprendre le Angular Router.</li>
          <li>Intégration de Bootstrap avec Angular: Structurer les projets en recréant l’ application « Weather » et l’
            application « News ».</li>
          <li>Angular Service: Consommer des appels api et &#8220;Dependency injection&#8221;.</li>
          <li>Angular Guard: Activer/Désactiver des Routes dynamiquement avec Angular: Sécuriser les components.<br />
            <span style="font-size: x-large;"><strong>✔</strong></span>Projets: TodoList avec authentification,
            Authentification avec Facebook, Blog, E-commerce.</li>
          <li>Publier le projet Angular sur Github-Pages.</li>
        </ul>
        <ul>
          <p><i class="fa fa-flag" aria-hidden="true"></i> Ou Bien</p><br>
          <p><strong>React (60 Hrs)</strong></p><br>
          <li>Présentation du Framework React : Historique et comparaison entre versions.</li>
          <li>Installation environnements.</li>
          <li>Travailler avec des composants et les réutiliser: Sortie de contenu dynamique.</li>
          <li>Comment React met à jour le DOM.</li>
          <li>Comprendre le JSX.</li>
          <li>Manipulation React States.</li>
          <li>Manipulation des Props.</li>
          <li>Passage des références de méthode entre composants.</li>
          <li>Ajouter un style avec des feuilles de style.</li>
          <li>Styling Composants et éléments React.<br />
            <span style="font-size: x-large;"><strong>✔</strong></span>Projets: TodoList avec authentification,
            Authentification avec Facebook, Blog, E-commerce.</li>
          <li>Publier le projet ReactJs sur Github-Pages.</li>
        </ul>
      </div>
    </div>
    <div class=" col-4">
      <img src="../../../../assets/images/front (1).png">
    </div>
    <div class="col-3"></div>

  </div>
  <br>
  <hr>
  <div class="row row-space paragraphe  ">
    <div class="col-1"></div>
    <div class="col-4">
      <div>
        <h2 class="text-align"><strong>Training Session</strong></h2><br>
        <h3 class="text-align"><strong>NodeJs/JavaJee/Spring</strong></h3><br>
        <h3 class="text-align"><strong>Dans la peau d&#8217;un développeur backend(1/3)</strong></h3><br>
      </div>
      <div>
        <h3 class="text-align"><strong>Programme</strong></h3>
        <ul>
          <p><strong>NodeJs, ExpressJs (15 Hrs)</strong></p>
          <li>Découvrir l’architecture « Backend ».</li>
          <li>Les modules « Node » de « Npm ».</li>
          <li>Découvrir le framework web « Express » en utilisant le middleware « body-parser ».</li>
          <li>Maitriser HTTP requests et Expressjs avec POSTMAN.<br /> <span
              style="font-size: x-large;"><strong>✔</strong></span>Projet: Créer l’application « Upcaser ».</li>
        </ul>
        <ul>
          <p><strong>L’approche no-SQL avec MongoDb (30 Hrs)</strong></p>
          <li>Savoir utiliser MongoDB afin de gérer une base de données.</li>
          <li>Conception d’API : Construire une interface.</li>
          <li>Collections et documents de « Mongodb ».</li>
          <li>Création des CRUD.</li>
          <li>Manipuler les bases de données : Insertion, modification, lecture et suppression.</li>
          <li>Se connecter à une base de données MongoDB en NodeJS.</li>
          <li>Construire et organiser une application NodeJS &amp; MongoDB.</li>
          <li>Mongodb ORM: Mongoose.</li>
          <li>Installation et configuration des environnements Mongoose.</li>
          <li>Création des modèles NoSQL avec Mongoose.<br /> <span
              style="font-size: x-large;"><strong>✔</strong></span>Projets: Créer une application TodoList, Créer un
            simple Blog en utilisant JsonWebToken pour sécuriser l’application, Word Quiz.</li>
        </ul>
        <p>&nbsp;</p>
      </div>
    </div>
    <div class=" col-4">
      <img src="../../../../assets/images/back.png">
    </div>
    <div class="col-3"></div>

  </div>
  <div class="row  paragraphe  ">
    <div class="col-1"></div>
    <div class="col-4">
      <div>
        <h2 class="text-align"><strong>Training Session</strong></h2><br>
        <h3 class="text-align"><strong>NodeJs/JavaJee/Spring</strong></h3><br>
        <h3 class="text-align"><strong>Dans la peau d&#8217;un développeur backend(2/3)</strong></h3><br>
      </div>
      <div>
        <h3 class="text-align"><strong>Programme</strong></h3>
        <ul>
          <p><strong>Java (25 Hrs)</strong></p>
          <li>Types primitifs, déclaration des variables et opérateurs.</li>
          <li>Création de programmes simples avec mise en œuvre de variables de différents types.</li>
          <li>Calculs avec opérateurs.</li>
          <li>OOP: Notion de classe, objet, relations entre objets, packages, classes (constructeurs, méthodes) et
            relations de composition, associations, héritage.</li>
          <li>OOP avancée: Polymorphisme, les classes enveloppes, Access Modifiers, Nonaccess Member Modifiers, membres
            static, classes abstraites, Interfaces, Overriding / Overloading, Les énumérations.</li>
          <li>Création d’une application avec classes en relation d’association, de composition, d’héritage.</li>
          <li>Mise en œuvre du polymorphisme.</li>
          <li>Les exceptions : Type des exceptions, Try-catch, rôle de finally.</li>
          <li>Développement d&#8217;une application avec gestion d’exceptions avec try-catch-finally.</li>
          <li>Les collections et la généricité.</li>
          <li>List Interface, Set Interface, Map Interface.</li>
          <li>Choix d’un type de collection : List, Set, Queue, Map.</li>
        </ul>
        <ul>
          <p><strong>Java 8</strong></p>
          <li>Les interfaces fonctionnelles.</li>
          <li>Introduction aux expressions Lambda.</li>
          <li>Java Optional Class, Time API, Manipulation des collections.</li>
        </ul>
        <ul>
          <p><strong>Java JEE/Spring (30 Hrs)</strong></p>
          <li>Introduction a l’architecture N-tiers JEE: Description du module.</li>
          <li>Installation environnement.</li>
          <li>Notion de Nommage: Classes et variables.</li>
          <li>Développer la couche DAO en utilisant JdbcTemplate et NamedParameterJdbcTemplate avec Spring-jdbc.</li>
          <li>Mise en œuvre d’une mini application de gestion de ressources d’une entreprise (mini ERP) en utilisant
            JPA.</li>
        </ul>
      </div>
    </div>
    <div class=" col-4">
      <img src="../../../../assets/images/back.png">
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row row-space paragraphe  ">
    <div class="col-1"></div>
    <div class="col-4">
      <div>
        <h2 class="text-align"><strong>Training Session</strong></h2><br>
        <h3 class="text-align"><strong>NodeJs/JavaJee/Spring</strong></h3><br>
        <h3 class="text-align"><strong>Dans la peau d&#8217;un développeur backend(3/3)</strong></h3><br>
      </div>
      <div>
        <h3 class="text-align"><strong>Programme</strong></h3>
        <ul>
          <p><strong>GIT</strong></p>
          <li>Introduction: Git, Github et les projets Open source : Version Control System.</li>
          <li>Maitriser les commandes git: Commit, push, pull..</li>
          <li>Publier un projet sur Github.</li>
          <li>Publier les projets sur Github-Pages.</li>
        </ul>
        <ul>
          <p><strong>Projet</strong></p>
          <li>Travail de groupe sur des projets en appliquant la méthodologie agile.</li>
          <li>Maîtrise des subtilités du développement web: Gérer les erreurs: les exceptions.</li>
          <li>Livrer les données en temps réel avec le protocole Web Socket.</li>
          <li>Créer et gérer des mots de passe sécurisés et des comptes utilisateurs.</li>
          <li>Apprendre les méthodes d’authentification des utilisateurs.</li>
          <li>Communication entre client serveur avec le protocole HTTP.</li>
          <li>Se connecter à un service web pour consommer des données.</li>
          <li>Paginer les données en provenance d’une base ayant beaucoup de contenu.</li>
          <li>Validation des formulaires avec Angular Reactive Forms.</li>
        </ul>
        <ul>
          <p><strong>Tester &amp; Debugger</strong></p>
          <li>Les tests unitaires en JavaScript.</li>
          <li>Les frameworks JavaScript supports aux tests.</li>
          <li>L’automatisation des tests.</li>
        </ul>
      </div>
    </div>
    <div class=" col-4">
      <img src="../../../../assets/images/back.png">
    </div>
    <div class="col-3"></div>
  </div>
  <br>
  <hr>
  <div class="row row-space  paragraphe  ">
    <div class="col-1"></div>
    <div class="col-4">
      <div>
        <h2 class="text-align"><strong>Training Session</strong></h2><br>
        <h3 class="text-align"><strong>Méthodologie Agile : Scrum</strong></h3><br>
        <h3 class="text-align"><strong>Dans la peau d&#8217;un Scrum Master</strong></h3><br>
        <h3 class="text-align"><strong>10 % de théorie et 90% de pratique</strong></h3>
        <p>&nbsp;</p>
      </div>
      <div>
        <h3 class="text-align"><strong>Programme</strong></h3>
        <ul>
          <p><strong>Comprendre les principes de l&#8217;approche Agile :</strong></p>
          <li>Découvrir l&#8217;origine du mouvement Agile et comprendre ses valeurs.</li>
          <li>Les différentes méthodes Agiles et leurs intérêts.</li>
        </ul>
        <ul>
          <p><strong>Appréhender les bénéfices des méthodes Agiles :</strong></p>
          <li>Distinguer les avantages et les inconvénients de l&#8217;approche Agile.</li>
          <li>Savoir quand appliquer une méthode Agile ou une méthode classique.</li>
        </ul>
        <ul>
          <p><strong>Conduire un projet Agile avec la méthode SCRUM :</strong></p>
          <li>Comprendre l&#8217;approche itérative et incrémentale en Sprints.</li>
          <li>Identifier le Product Owner et le Scrum Master, leurs rôles et responsabilités.</li>
          <li>Définir le Backlog produit et les user stories.</li>
          <li>Poker planning &amp; sprint release.</li>
          <li>Process : stand-ups et retrospectives.</li>
          <li>Mesurer l&#8217;avancement via le Burndown chart.</li>
        </ul>
        <ul>
          <p><strong>Se perfectionner en Agile :</strong></p>
          <li>Utiliser des outils collaboratifs supportant la méthode Agile.</li>
          <li>Découvrir d&#8217;autres domaines d&#8217;activités utilisant les méthodes Agiles.</li>
          <li>Trouver les ressources en ligne pour progresser sur les méthodes Agiles.<br />
            <span style="font-size: x-large;"><strong>✔</strong></span>Les méthodes Agiles permettent de mieux maîtriser
            les projets informatiques sous les angles délais, coûts et résultats. Elles préconisent le travail itératif
            et une communication régulière entre les acteurs.</li>
        </ul>
      </div>
    </div>
    <div class=" col-4">
      <img src="../../../../assets/images/scrum.png">
    </div>
    <div class="col-3"></div>

  </div>
  <br>
  <hr>
  <div class="row  paragraphe  ">
    <div class="col-1 "></div>
    <div class="col-4">
      <div>
        <h2 class="text-align"><strong>Training Session</strong></h2><br>
        <h3 class="text-align"><strong>Full Stack Web</strong></h3><br>
        <h3 class="text-align"><strong>Dans la peau d&#8217;un Ingénieur DevOps</strong></h3><br>
        <h3 class="text-align"><strong>10 % de théorie et 90% de pratique</strong></h3>
        <p>&nbsp;</p>
      </div>
      <div>
        <h3 class="text-align"><strong>Programme</strong></h3>
        <ul>
          <p><strong>DevOps (100 Hrs)</strong></p>
          <li>Introduction: Compréhension des architectures des serveurs et de leur infrastructure, machine virtuelle
            avec Ubuntu Server,</li>
          <li>Docker et l’approche de containerisation.</li>
          <li>Installation de l’environnement de production avec les outils client SSH.</li>
          <li>Déploiement avec Docker en utilisant Docker compose.</li>
          <li>Dépendances de Déploiement.</li>
          <li>Manipulation du projet à l’aide du Git.</li>
          <li>Déploiement du projet sur VPS (machine virtuelle).</li>
          <li>Comment créer une image Docker avec dockerfile ?</li>
          <li>Découverte des outils de Continous Integration / Continous Delivery.</li>
          <li>Création et manipulation des GitLab pipelines.</li>
          <li>Ajout de Continous Delivery au projet.</li>
          <li>Intégration des tests unitaires dans le Gitlab pipelines.</li>
        </ul>
      </div>
    </div>
    <div class=" col-4">
      <img src="../../../../assets/images/devops.png">
    </div>
    <div class="col-3"></div>
  </div>
  <br>
  <hr>
  <div class="row row-space paragraphe  ">
    <div class="col-1"></div>
    <div class="col-4">
      <div>
        <h2 class="text-align"><strong>Training Session</strong></h2><br>
        <h3 class="text-align"><strong>Business Intelligence</strong></h3><br>
        <h3 class="text-align"><strong>Dans la peau d&#8217;un Business Analyst (1/2)</strong></h3><br>
        <h3 class="text-align"><strong>10 % de théorie et 90% de pratique</strong></h3>
        <p>&nbsp;</p>
      </div>
      <div>
        <h3 class="text-align"><strong>Programme</strong></h3>
        <ul>
          <p style="text-align: left;"><strong>BI (30 Hrs)</strong></p>
          <p><strong>Introduction</strong></p>
          <li>Concepts de Datawarehouse et Datamart.</li>
          <li>Concevoir un entrepôt de données (approches).</li>
          <li>L&#8217;offre décisionnelle de Microsoft : SQL Server 2014 BI.</li>
          <li>Présentation de l&#8217;outil de développement Business Intelligence Development Studio.</li>
          <li>Rappel des concepts de base en SQL.</li>
          <li>Présentation du projet (à réaliser durant toute la formation). <br /><strong>Processus ETL avec Microsoft
              Integration Services </strong></li>
          <li>Méthodes de conception d&#8217;entrepôt de données: <br />&#8211; Présentation d’Integration Services.
            <br />&#8211; Concepts d’ETL (chargement dans l&#8217;entrepôt de données). <br />&#8211; Présentation
            d’Integration services (Workshop).</li>
          <li>Implémentation d&#8217;un flux de contrôle.</li>
          <li>Création d&#8217;un flux de données.<br /><strong>Solution OLAP avec Microsoft Analysis Services </strong>
          </li>
          <li>Concepts de modélisation multidimensionnelle OLAP.</li>
          <li>Création d&#8217;une solution d&#8217;analyse multidimensionnelle: <br />&#8211; Sources de données.
            <br />&#8211; Vue de sources de données. <br />&#8211; Création des dimensions. <br />&#8211; Amélioration
            des dimensions avec l&#8217;aide de l’assistant business intelligence. <br />&#8211; Définition des
            hiérarchies et des relations d&#8217;attributs. <br />&#8211; Création des groupes de mesures.</li>
          <li>Personnalisation d&#8217;un cube : <br />&#8211; Création d&#8217;indicateurs clés de performance (KPI).
            <br />&#8211; Implémentation des traductions. <br />&#8211; Implémentation des perspectives. <br />&#8211;
            Jeux nommés (statiques et dynamiques). <br />&#8211; Le mode de stockage (MOLAP).</li>
          <li>Déploiement et traitement d&#8217;un cube.</li>
          <li>Consultation d&#8217;un cube avec des outils tiers : Power BI et Excel 2016.</li>
        </ul>
      </div>
    </div>
    <div class=" col-4">
      <img src="../../../../assets/images/business analyst.png">
    </div>
    <div class="col-3"></div>

  </div>
  <div class="row row-space paragraphe  ">
    <div class="col-1"></div>
    <div class="col-4">
      <div>
        <h2 class="text-align"><strong>Training Session</strong></h2><br>
        <h3 class="text-align"><strong>Business Intelligence</strong></h3><br>
        <h3 class="text-align"><strong>Dans la peau d&#8217;un Business Analyst (2/2)</strong></h3><br>
        <h3 class="text-align"><strong>10 % de théorie et 90% de pratique</strong></h3>
        <p>&nbsp;</p>
      </div>
      <div>
        <h3 class="text-align"><strong>Programme</strong></h3>
        <ul>
          <p style="text-align: left;"><strong>Restitution des données avec Microsoft Excel &amp; PowerBI </strong></p>
          <li style="text-align: left;">Introduction au PowerBI.</li>
          <li style="text-align: left;">Tableau simple, matrice, graphiques, jauges.</li>
          <li style="text-align: left;">Création d’un état avec Power Bi basé sur l’Analysis Services: <br />&#8211;
            Création des rapports dynamiques. <br />&#8211; Déploiement sur Power BI Web App. <br />&#8211;
            Incorporation des rapports sur une interface web. <br />&#8211; Incorporation des rapports sur un support
            mobile.</li>
          <li style="text-align: left;">Création d’un état avec Power Bi basé sur SQL SERVER DataWarehouse:
            <br />&#8211; Création des rapports dynamiques. <br />&#8211; Déploiement sur Power BI Web App.
            <br />&#8211; Incorporation des rapports sur une interface web. <br />&#8211; Incorporation des rapports sur
            un support mobile.</li>
          <li style="text-align: left;">Types d&#8217;exports et de rendus : CSV, PDF, Excel.<br /><strong>Restitution
              des données avec Microsoft Excel &amp; PowerBI</strong></li>
          <li style="text-align: left;">Présentation du projet.</li>
          <li style="text-align: left;">Analyse des données métiers.</li>
        </ul>
      </div>
    </div>
    <div class=" col-4">
      <img src="../../../../assets/images/business analyst.png">
    </div>
    <div class="col-3"></div>
  </div>
  <br>
  <hr>
  <div class="row row-space  paragraphe  ">
    <div class="col-1 "></div>
    <div class="col-4">
      <div>
        <h2 class="text-align"><strong>Training Session</strong></h2><br>
        <h3 class="text-align"><strong>DATA SCIENCE/DEEP LEARNING</strong></h3><br>
        <h3 class="text-align"><strong>Dans la peau d&#8217;un Data Scientist (1/2)</strong></h3><br>
        <h3 class="text-align"><strong>10 % de théorie et 90% de pratique</strong></h3>
        <p>&nbsp;</p>
      </div>
      <div>
        <h3 class="text-align"><strong>Programme</strong></h3>
        <ul>
          <p><strong>Data Science (30 Hrs)</strong></p>
          <p><strong>Introduction à la Data Science</strong> : Présentation générale, ses principes et ses concepts de
            base: Méthodologie CRISP.<br /><strong>Les Bases de Python :</strong></p>
          <li>Liste, tableau, fonction…</li>
          <li>Obtention, exploration et importation des données.</li>
          <li>Data visualisation (plot, pie, bar, boxplot, hist ). <br /><strong></strong></li>
        </ul>
        <ul>
          <p><strong>Préparation et nettoyage des données </strong><br /><strong>Analyse et
              modélisation:</strong> Introduction au Machine Learning. <br /><strong>Variable Sélection &amp;
              Analysis</strong>: Tests de régression linéaire univariés (f_regression)</p>
          <p><strong>1-Apprentissage non-supervisé </strong></p>
          <li>Segmentation, Clustering, Kmeans, CAH.</li>
          <li>Associativité – Séquence Mining.</li>
          <li>Apriori Algorithm. <br /><strong></strong></li>
        </ul>
        <ul>
          <p><strong>2-Mise en œuvre des méthodes d’apprentissage supervisé </strong></p>
          <li>Classification &amp; Regression</li>
          <li>k Plus Proches Voisins (kNN Algorithm).</li>
          <li>Random Forest &amp; xGboost. <br /><strong></strong></li>
        </ul>
        <ul>
          <p><strong>3-Evaluation et tests des modèles d’apprentissage </strong></p>
          <li>Courbe Roc.</li>
          <li>Matrix de confusion.</li>
          <li>Cross-Validation<br /><strong></strong></li><br>
          <p><strong>Projet</strong>: Réalisation d’un projet en appliquant la méthodologie Crisp et en suivant
            principalement toutes les étapes d’élaboration d’un projet data science. La compréhension du problème métier
            et des données. Préparation et modélisation des Données. Évaluation.</p>
          <p>&nbsp;</p>
        </ul>
      </div>
    </div>
    <div class=" col-4">
      <img src="../../../../assets/images/data science.png">
    </div>
    <div class="col-3"></div>

  </div>
  <div class="row row-space paragraphe  ">
    <div class="col-1 "></div>
    <div class="col-4">
      <div>
        <h2 class="text-align"><strong>Training Session</strong></h2><br>
        <h3 class="text-align"><strong>DATA SCIENCE/DEEP LEARNING</strong></h3><br>
        <h3 class="text-align"><strong>Dans la peau d&#8217;un Data Scientist (2/2)</strong></h3><br>
        <h3 class="text-align"><strong>10 % de théorie et 90% de pratique</strong></h3>
        <p>&nbsp;</p>
      </div>
      <div>
        <h3 class="text-align"><strong>Programme</strong></h3>
        <p>&nbsp;</p>
        <p style="text-align: left;"><strong>Deep Learning (30 Hrs)</strong><br /><strong>INTRODUCTION au DEEP
            LEARNING:</strong><br />&#8211; Le concept d&#8217;apprentissage d’ANN. <br />&#8211; L’algorithme Gradient
          Descent et Backpropagation. <br />&#8211; Les fonctions d&#8217;activation. <br />&#8211; Vanishing Gradient
          Descent.</p>
        <p><strong>Les BIBLIOTHÈQUES DL ET KERAS: </strong><br />&#8211; MNIST. <br />&#8211; Régression avec Keras.
          <br />&#8211; Classification avec Keras.</p>
        <p><strong>LES MODÈLES DEEP LEARNING: </strong><br />&#8211; Les réseaux de neurones convolutifs. <br />&#8211;
          Les réseaux de neurones récurrents. <br />&#8211; Autoencoders. <br />&#8211; Les candidats travaillent soient
          en CNN ou RNN en utilisant les images, les textes ou les signaux.</p>
      </div>
    </div>
    <div class=" col-4 ">
      <img src="../../../../assets/images/data science.png">
    </div>
    <div class="col-3 "></div>
  </div>
</div><br><br>
<app-footer></app-footer>
