<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(assets/images/slide/bg_11.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animated fadeInDown">Bienvenue à <span>Fivepoints</span></h2>
            <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat
              sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque
              accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <!-- <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a> -->
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: url(assets/images/slide/slide-2.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animated fadeInDown"> Le meilleur investissement que vous puissiez </h2>
            <h2>faire est en vous-même</h2>
            <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat
              sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque
              accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <!-- <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a> -->
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url(assets/images/slide/slide-3.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animated fadeInDown"> Apprenez par application, rejoignez le </h2>
            <h2>#TalentPool !</h2>
            <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat
              sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque
              accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <!-- <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a> -->
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <div id="about" class="about-area area-padding" style="margin-top: 50px;">
    <div class="container">
      <div class="section-title">
        <h1>A propos</h1>
        <h3>Prenez contact avec <span>Nous</span></h3>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
                <img src="assets/images/1.jpg" alt="" style="width: 540px;height: 270px;">
              </a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <h3 class="sec-head" style="font-weight: bold; font-size: x-large;">FivePoints the TalentPool</h3>

              <p>
                Cofondée par des experts du domaine IT & AI en 2017 , la startup Fivepoints a pour objectif de nourrir
                le marché tunisien avec les meilleurs talents.
                Fivepoints est le premier vivier de talents qui propose des cycles d'immersion commerciale aux jeunes
                talents souhaitant entrer dans le monde des entreprises informatiques
              </p>
              <ul>
                <li>
                  <i class="fa fa-check"></i> Consulting
                </li>
                <li>
                  <i class="fa fa-check"></i> L'académie
                </li>
                <li>
                  <i class="fa fa-check"></i> Excellente équipe
                </li>
                <li>
                  <i class="fa fa-check"></i> Des dizaines de partenaires
                </li>

              </ul>
            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
  </div><!-- End About Section -->


  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts  section-bg">
    <div class="container">

      <div class="row no-gutters">

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="icofont-simple-smile"></i>
            <span data-toggle="counter-up">232</span>
            <p><strong>Formés les 4 derniers mois</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="icofont-clock-time"></i>
            <span data-toggle="counter-up">521</span>
            <p><strong>Heures de formation</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="icofont-learn"></i>
            <span data-toggle="counter-up">1,463</span>
            <p><strong>candidats formés</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="icofont-users-alt-5"></i>
            <span data-toggle="counter-up">15</span>
            <p><strong>Personnes dans notre local par jour</strong></p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- End Counts Section -->

  <!-- Services -->
  <section class="site-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <div class="section-title">
            <h1>Nos Services</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">

          <div class="owl-carousel slide-one-item-alt">
            <img src="assets/images/slide_11.jpg" alt="Image" class="img-fluid">
            <img src="assets/images/slide_22.jpg" alt="Image" class="img-fluid">
            <img src="assets/images/slide_2.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="custom-direction">
            <a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a href="#"
              class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
          </div>

        </div>
        <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">

          <div class="owl-carousel slide-one-item-alt-text">
            <div>
              <h3 style="font-weight: 600;
            font-size: 26px;"> L'académie de FivePoints </h3><br>
              <p class="lead">Perfectionnez vos compétences.</p>
              <p>Que ce soit pour apprendre le code, se spécialiser dans un nouveau Framework ou se recycler avec
                succès, Fivepoints est votre allié pour atteindre vos objectifs grâce à un programme solide et une
                équipe compétente.</p>
              <br>
              <p><a href="/trainings" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
            </div>
            <div>
              <h3 style="font-weight: 600;
           font-size: 26px;">FivePoints Consulting</h3><br>
              <p class="lead">Votre meilleur choix pour le Consulting</p>
              <p>Notre équipe est à votre disposition pour vous aider à surpasser tout type de problème rencontré tout
                en travaillant avec toute technologie de pointe. Nos développeurs qualifiés seront là pour vous et
                veilleront à vous donner une longueur d'avance.</p>
              <br>
              <p><a href="/services" class="btn btn-primary mr-2 mb-2" style="color:mr-2 mb-2;">Learn More</a></p>
            </div>


            <div>
              <h3 style="font-weight: 600;
            font-size: 26px;">FivePoints en ligne</h3><br>
              <p class="lead">
                Bénéficiez de nos cours en ligne</p>
              <p>
                Notre équipe est à votre disposition pour vous aider à surpasser tout type de problème rencontré tout en
                travaillant avec toute technologie de pointe. Nos développeurs qualifiés seront là pour vous et
                veilleront à vous donner une longueur d'avance.</p>
              <br>
              <p><a href="https://academy.fivepoints.fr/home" class="btn btn-primary mr-2 mb-2"
                  style="color:mr-2 mb-2;">Learn More</a></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- End Services -->



  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container">

      <div class="section-title">
        <h1>Témoignages</h1>
        <h3> Ils ont fait confiance de <span>Nous</span></h3>
        <!-- <p>Magnam dolores commodi suscipit. Quisquam quos quisquam cupiditate. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>


      <!-- <div class="owl-carousel testimonials-carousel" data-aos="fade-up">  -->
      <!-- <div class="carousel owl-carousel ftco-owl "> -->
      <div class="owl-carousel slide-one-item-alt">
        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Avoir un vivier de talents avec nous nous permet de recruter des talents qui ont travaillé sur nos
            technologies et prêts à être opérationnels, cela nous fait gagner du temps et de l'argent pour intégrer nos
            nouvelles recrues.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="https://i.postimg.cc/dQBh8j65/4.png" class="testimonial-img" alt="">
          <h3>Jihed OTHMANI</h3>
          <h4>Expensya, CTO</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>

            Depuis notre partenariat avec FivePoints nous gagnons beaucoup de temps sur le recrutement, nous avons des
            profils opérationnels et surtout formés sur les nouvelles technologies demandées par nos clients.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="https://i.postimg.cc/cL72H60t/5.png" class="testimonial-img" alt="">
          <h3>Hamdi Missaoui</h3>
          <h4>Designer</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Aujourd'hui je suis le CTO d'une startup innovante, mon expérience chez FivePoints m'a ouvert les portes du
            communauté entrepreneuriale, merci à toute l'équipe de coachs.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="https://i.postimg.cc/HWqT8cD6/2.png" class="testimonial-img" alt="">
          <h3>Fatma Bezine</h3>
          <h4>Le Pti Chef, CTO </h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            J'ai choisi de renouveler l'expérience FivePoints, j'ai suivi deux programmes consécutifs, maintenant je
            sens que je peux
            intégrer facilement le monde des affaires Merci FivePoints.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="https://i.postimg.cc/KY2N15Jm/3.png" class="testimonial-img" alt="">
          <h3>Mokhles hadj Hsine</h3>
          <h4>
            À la recherche d'une opportunité,Développeur Full Stack </h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Après l'obtention du diplôme je ne savais pas par où commencer ma recherche d'emploi, j'ai vu l'annonce de
            la TalentPool à 5P
            Je pensais que c'était une formation simple mais ce n'était pas le cas. J'ai vraiment travaillé en tant que
            développeur FullStack pendant le
            programme appliquant une méthodologie agile et des projets réels
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="https://i.postimg.cc/wvxQVTCP/1.png" class="testimonial-img" alt="">
          <h3>John Larson</h3>
          <h4>Entrepreneur</h4>
        </div>

      </div>

    </div>
  </section>
  <!-- End Testimonials Section -->




  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container-fluid">

      <div class="section-title">
        <h1>L'équipe</h1>
        <h3> Notre <span>équipe</span> de travail acharné</h3>
        <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
      </div>

      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="row">


            <div style=" display:flex; align-items:center; justify-content: space-between; flex-wrap: wrap;">

              <div *ngFor="let user of users" class="col-lg-3" data-aos="fade-up">
                <div class="member">
                  <img src="{{UserPicture + user._id}}" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>{{user.Firstname}} {{user.Lastname}}</h4>


                      <span>{{user.role}}</span>


                    </div>
                    <div class="social">
                      <a href=""><i class="icofont-twitter"></i></a>
                      <a href=""><i class="icofont-facebook"></i></a>
                      <a href=""><i class="icofont-instagram"></i></a>
                      <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Member Item -->


          </div>
        </div>
      </div>

    </div>
  </section><!-- End Team Section -->


  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200" style="background-color: #f3f8fa;">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="assets/images/why_us.jpg" class="img-fluid" alt="">
          <a href="https://vimeo.com/45830194" class="venobox play-btn mb-4 button popup-vimeo" data-vbtype="video"
            data-autoplay="true"></a>
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

          <div class="icon-box">
            <div class="icon"> <i class="bx bx-check">
                <!--<i class="bx bx-fingerprint">--></i></div>
            <h4 class="title"> Bienvenue dans la communauté FivePoints!</h4>
            <p class="description">FivePoints propose des programmes «BootCamp» de 1 mois à 6 mois, en Codage: Web
              Développement, Front-End, Back-End, FullStack, Business, Intelligence, Data Science et Artificiel
              Intelligence.</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-check">
                <!--<i class="bx bx-gift">--></i></div>
            <h4 class="title">Rejoignez-nous</h4>
            <p class="description">FivePoints vous accompagne depuis
              premier jour grâce à ses programmes adaptés à votre niveau et aux besoins du
              marché.</p>
          </div>

        </div>
      </div>

    </div>
  </section>




  <!-- ======= Blog Section ======= -->
  <br><br>
  <section id="blog" class="blog">
    <div class="container">
      <div class="section-title">
        <h1> Dernier blog</h1>
        <h3>Jetez un œil sur notre <span>blog</span></h3>
      </div>

      <div style=" display:flex; align-items:center; justify-content: space-between; flex-wrap: wrap;">

        <div *ngFor="let r of recent ; let i = index" class="col-lg-4" data-aos="fade-up">
          <article class="entry">

            <div class="entry-img">
              <img src="{{pictureBaseUrl + r._id}}" routerLink="/article/{{r._id}}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a routerLink="/singleBlog">{{r.title}}</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="icofont-user"></i> <a
                    href="blog-single.html">{{r.auteur}}</a></li>
                <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a
                    href="blog-single.html"><time datetime="2020-01-01">{{r.date | date: 'dd/MM/yyyy'}}</time></a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                {{intros[i]}}
              </p>
              <div class="read-more">
                <a routerLink="/singleBlog" style="background-color:#428bca;" class="btn btn-primary mr-2 mb-2"
                  (click)="articleDetails(r._id)">Lire la suite</a>
              </div>
            </div>

          </article>
        </div>
      </div>


    </div>
  </section>
  <!-- End Blog Section -->



  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container">

      <div class="text-center">
        <h3>Appel à l'action</h3>
        <p>Notre startup vous garantit un bon coaching et une excellente formation dans les meilleures conditions.</p>
        <a class="cta-btn" routerLink="/trainingRegistration">Appel à l'action</a>
      </div>

    </div>
  </section><br><br>
  <!-- End Cta Section -->



  <!-- ======= Contact Section ======= -->
  <div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
      <div class="contact-overly"></div>
      <div class="container ">

        <div class="section-title">
          <h1>Contact</h1>
          <h3>Entrez en contact avec <span>nous</span></h3>
        </div>
        <div class="row">
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-mobile"></i>
                <p>
                  Tél: +216 71 190 418<br>
                  <span>Lundi-Jeudi (10h-17h)</span>
                  <span>Vendredi (10h-13h)</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-envelope-o"></i>
                <p>
                  E-mail: contact@FivePoints.fr<br>
                  <span>Web: www.fivepoints.tn</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-map-marker"></i>
                <p>
                  Rue. la bourse, bâtiment El Wafa, Bloc A 2éme étage, Lac 2, Tunis, Tunisie<br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- Start Google Map -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <iframe
              src="https://maps.google.com/maps?q=Five+Points+The+Talent+pool&t=k&z=9&ie=UTF8&iwloc=&output=embed"
              width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <!-- End Google Map -->


          <!-- Start  contact -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form contact-form">
              <form [formGroup]="contactForm">
                <div>
                  <mat-form-field style="width: 500px;">
                    <input matInput type="text" formControlName="name" placeholder="Nom & Prénom" />
                    <!--<div class="validate"></div>-->
                  </mat-form-field>
                </div>


                <div>
                  <mat-form-field style="width: 500px;">
                    <input matInput type="text" formControlName="subject" placeholder="Sujet" />
                    <!--<div class="validate"></div>-->
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field style="width: 500px;">
                    <input matInput type="email" formControlName="email" placeholder="E-mail" />
                    <!--<div class="validate"></div>-->
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field style="width: 500px;">
                    <textarea matInput formControlName="contenuMessage" rows="5" placeholder="Message"></textarea>
                  </mat-form-field>
                </div>

                <div class="text-center">
                  <button type="submit" style="background-color:#428bca;" class="btn btn-primary mr-2 mb-2"
                    (click)="ajouterMessage()">Envoyer</button></div>
                <br><br>
              </form>
            </div>
          </div>
          <!-- End Left contact -->
        </div>
      </div> <br><br>
    </div>
  </div><!-- End Contact Section -->

</main><!-- End #main -->


<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<app-footer></app-footer>
