<h2 mat-dialog-title>Replies</h2>
<mat-dialog-content class="mat-typography" style="width: 30rem;">

  <div *ngFor="let rep of replys.reverse()" id="comment-reply-2" class="comment comment-reply clearfix">
    <img class="comment-img  float-left" alt="">
    <h5 id="name"><a href="">{{rep.name }}</a> <a href="#" class="reply"><i class="icofont-reply"></i>
        Reply</a></h5>
    <time datetime="2020-01-01">{{rep.date| date: 'dd/MM/yyyy'}}</time>
    <p>
      {{rep.contenue}}
    </p>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
</mat-dialog-actions>
