<app-header></app-header>
<!-- ======= Breadcrumbs ======= -->
<!-- <section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="index.html">Home</a></li>
      <li>Blog</li>
    </ol>
    <h2>Blog</h2>

  </div>
</section> -->
<!-- End Breadcrumbs -->

<!-- ======= Blog Section ======= -->
<div *ngIf="blog">
  <section class="blog" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="container">
      <div class="section-title">
        <h1>Article</h1>
      </div>
      <div class="row">

        <div class="col-lg-12 entries">

          <article class="entry entry-single">
            <div class="entry-img">
              <img src="{{pictureBaseUrl + blog._id}}"  alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="blog-single.html">{{blog.Title}}</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="icofont-user"></i> <a
                    href="blog-single.html">{{blog.auteur}}</a></li>
                <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a
                    href="blog-single.html"><time datetime="2020-01-01">{{blog.date | date: 'dd/MM/yyyy'}}</time></a>
                </li>

                <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a
                    href="blog-single.html">{{nbrs}}</a></li>
              </ul>
            </div>

            <div class="entry-content">

              <blockquote>
                <i class="icofont-quote-left quote-left"></i>
                <p>
                  {{blog.Contenue}}
                </p>
                <i class="las la-quote-right quote-right"></i>
                <i class="icofont-quote-right quote-right"></i>
              </blockquote>
            </div>

            <div class="entry-footer clearfix">


            </div>

          </article><!-- End blog entry -->
          <div *ngFor="let c of commenteret  ;let i=index ">
            <div class="blog-author clearfix">
              <h4>{{c.name}}</h4>
            
                  <p>
                    {{c.contenue}}
                  </p>
            </div>
            <!-- End blog author bio -->
            <div class="blog-comments">

              <a style="height: 40px;" type="button" class="btn btn-primary" (click)=" openReadModal(c._id) ; commentService.commentId = c._id">
                <h4 style="color: white;" class="comments-count"><i class="icofont-eye"></i> {{nbreplies[i]}}</h4>
              </a>
              <a style="height: 40px;" type="button" class="btn btn-primary"
                  (click)=" openModal(c._id) ;commentService.commentId = c._id "><i class="icofont-comment"></i></a>
              <div id="comment-1" class="comment clearfix">
                <img class="comment-img  float-left" alt="">
              </div>
            </div>
          </div>



          <section id="comm">
            <p>Votre adresse e-mail ne sera pas publié . Les champs requis sont indiqués * </p>
            <div class="reply-form">
              <form [formGroup]="commentForm">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <mat-form-field style="width: 250px;">
                      <input matInput type="text" formControlName="name" placeholder="Your Name*">
                      <mat-error *ngIf="commentForm.hasError('required','name')">*votre nom et prénom est requis </mat-error>

                    </mat-form-field>
                  </div>

                  <div class="col-md-6 form-group">
                    <mat-form-field>
                      <input matInput type="text" formControlName="email" placeholder="Your Email*">
                      <mat-error *ngIf="commentForm.hasError('required','email')">*votre email est requis</mat-error>
                      <mat-error *ngIf="commentForm.hasError('email','email')">*votre format email est invalide (exemple :...@gmail.com)</mat-error>
                    </mat-form-field>
                  </div>

                </div>

                <div class="row">
                  <div class="col form-group">
                    <mat-form-field style="width: 550px;">
                      <textarea matInput formControlName="contenue" placeholder="Your Comment*"></textarea>
                      <mat-error *ngIf="commentForm.hasError('required','contenue')">*votre commentaire est requis</mat-error>

                    </mat-form-field>
                  </div>
                </div>
                <button [disabled]="!commentForm.valid" type="submit" class="btn btn-primary" (click)="ajouterComment(blog._id)"> Commenter</button>
              </form>
            </div>
          </section>
          <!-- End blog comments -->
        </div><!-- End blog entries list -->
      </div><!-- End row -->

    </div><!-- End container -->

  </section><!-- End Blog Section -->
</div>

<app-footer></app-footer>
