<header id="header" class="fixed-top ">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10 d-flex align-items-center justify-content-end">
        <img _ngcontent-serverapp-c42="" src="assets/images/logo.png" class="logo mr-auto">
        <nav class="navbar navbar-dark navbar-expand-lg nav-menu  ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" routerLinkActive="active" href="#"
                routerLink="/template">Acceuil</a></li>
              <li ngbDropdown class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" routerLinkActive="active" 
                  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  L'academie de FivePoints
                </a>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a ngbDropdownItem class="dropdown-item" routerLinkActive="active" href="#"
                    routerLink="/trainings">Sessions</a>
                  <div class="dropdown-divider"></div>
                  <a ngbDropdownItem class="dropdown-item" routerLinkActive="active" href="#"
                    routerLink="/programmes">nos programmes</a>
                </div>
              </li>
              <li class="nav-item "><a class="nav-link" routerLinkActive="active" href="#"
                  routerLink="/services">FivePoints Consulting</a></li>
              <li class="nav-item"><a class="nav-link" routerLinkActive="active" href="#" routerLink="/blog">Blog</a>
              </li>
              <li class="nav-item"><a class="nav-link" routerLinkActive="active" href="#"
                  routerLink="/contact">Contact</a></li>

            </ul>
          </div>
        </nav>
        <!-- .nav-menu -->
      
      </div>
    </div>
  </div>
</header><!-- End Header -->
